<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noticia+Text&family=Raleway:wght@200&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="assets\css\owl.carousel.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/main.css">
    <title>Bizland</title>
</head>

<body>
    <header>
        <!--  Header start -->
        <div class="main-header">
            <!-- header top start -->
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 d-flex">
                            <div class="col-lg-4">
                                <a href="#" class="contact" id="mail-contact">
                                    <i class="fa-solid fa-envelope"></i>contact@example.com
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="#" class="contact">
                                    <i class="fa-solid fa-mobile-screen-button"></i>+1 5589
                                    55488
                                    55
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="header-top-settings">
                                <ul class="nav justify-content-end">
                                    <li class=""><i class="fa-brands fa-twitter"></i> </li>
                                    <li class=""> <i class="fa-brands fa-facebook"></i></li>
                                    <li class=""><i class="fa-brands fa-instagram"></i> </li>
                                    <li class=""><i class="fa-brands fa-linkedin"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- START NAVBAR -->
        <nav class="navbar navbar-light bg-light navbar-expand-lg ">
            <div class="container py-2">
                <a class="navbar-brand bold" href="index.html">BizLand <span>.</span></a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item px-3">
                            <a href="#" class="nav-link active" aria-current="page">HOME</a>
                        </li>
                        <li class="nav-item px-3"><a href="#" class="nav-link">ABOUT</a></li>
                        <li class="nav-item px-3"><a href="#" class="nav-link">SERVICES</a></li>
                        <li class="nav-item px-3"><a href="#" class="nav-link">PORTFOLIO</a></li>
                        <li class="nav-item px-3"><a href="#" class="nav-link">TEAM</a></li>
                        <li class="nav-item dropdown px-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                PORTFOLIO
                            </a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Drop Down1 </a>
                                <a class="dropdown-item" href="#">Deep Drop Down</a>
                                <a class="dropdown-item" href="#">Drop Down2</a>
                                <a class="dropdown-item" href="#">Drop Down3</a>
                                <a class="dropdown-item" href="#">Drop Down4</a>
                        </li>
                        <li class="nav-item px-3"><a href="#" class="nav-link">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
    </header>
    @RenderBody()
    <!-- START FOOTER SECTION -->
    <section id="footer">
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg-3 ">
                    <div class="contact links">
                        <h3>BizLand<span>.</span></h3>
                        <p>
                            A108 Adam Street <br> New York, NY 535022 <br> United States <br> <br>
                            <strong>Phone</strong>: +1 5589 55488 55 <br><strong>Email</strong>:info@example.com
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="links">
                        <h3>Useful Links</h3>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">About us</a></li>
                            <li><a href="">Services</a></li>
                            <li><a href="">Terms of service</a></li>
                            <li><a href="">Privacy policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="links">
                        <h3>Our Services</h3>
                        <ul>
                            <li><a href="">Web Design</a></li>
                            <li><a href="">Web Development</a></li>
                            <li><a href="">Product Managment</a></li>
                            <li><a href="">Marketing</a></li>
                            <li><a href="">Graphic Design</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="links">
                        <h3>Our Social Networks</h3>
                        <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
                        <div class="social">
                            <a class=""><i class="fa-brands fa-twitter"></i> </a>
                            <a class=""><i class="fa-brands fa-facebook"></i></a>
                            <a class=""><i class="fa-brands fa-instagram"></i> </a>
                            <a class=""><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footer-bottom">
        <div class="container py-4">
            <div class="row">
                <div class="col copyright">
                    Copyright <strong><span>BizLand</span></strong>.All Rights Reserved
                </div>
                <div class="col-lg-2 credits">
                    Designed by <span>BootstrapMade</span>
                </div>
            </div>
        </div>
    </section>
    <!-- END FOOTER SECTION -->
</body>

</html>
