<!-- Main Section Start -->
<main>
    <section id="welcome" class="d-flex align-items-center">
        <div class="container">
            <div class="title">
                <h1>Welcome to <span>BizLand</span></h1>
                <h2>We are team of talented designers making websites with Bootstrap</h2>
                <button type="button">Get Started</button>
                <a href="#" class="watch-video"><i class="fa-solid fa-play"></i>Watch Video</a>
            </div>
        </div>
    </section>

    <!-- Start About us Section -->
    <section id="about">
        <div class="container">
            <div class="title">
                <h2>About</h2>
                <h3>Find Out More <span>About Us</span></h3>
                <p>
                    Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas
                    atque vitae autem.
                </p>
            </div>
            <div class="row ">

                <div class="col-lg-6">
                    <img src="https://bootstrapmade.com/demo/templates/BizLand/assets/img/about.jpg" alt=""
                         class="img-fluid">
                </div>
                <div class="col-lg-6 ">
                    <div class="summary">
                        <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et dolore magna
                            aliqua.
                        </p>
                        <ul>
                            <li class="icon">
                                <i class="fa-solid fa-store"></i>
                                <div>
                                    <h4>Ullamco laboris nisi ut aliquip consequat</h4>
                                    <p>
                                        Magni facilis facilis repellendus cum excepturi quaerat praesentium libre
                                        trade
                                    </p>
                                </div>
                            </li>
                            <li class="icon">
                                <i class="fa-solid fa-image"></i>
                                <div>
                                    <h4>Magnam soluta odio exercitationem reprehenderi</h4>
                                    <p>
                                        Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna
                                        pasata redi
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <p>
                            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt
                            in culpa qui officia
                            deserunt mollit anim id est laborum
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- START TEAM SECTION -->
    <section id="team">
        <div class="container">
            <div class="card-title">
                <h2>Team</h2>
                <h3>Our Hardworking <span>Team</span></h3>
                <p>
                    Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas
                    atque vitae autem.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="member-card">
                        <div class="member-img">
                            <img src="https://bootstrapmade.com/demo/templates/BizLand/assets/img/team/team-1.jpg"
                                 alt="" class=" img-fluid">
                            <div class="social">
                                <a class=""><i class="fa-brands fa-twitter"></i> </a>
                                <a class=""> <i class="fa-brands fa-facebook"></i></a>
                                <a class=""><i class="fa-brands fa-instagram"></i> </a>
                                <a class=""><i class="fa-brands fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Walter White</h4>
                            <span>Chief Executive Officer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="member-card">
                        <div class="member-img">
                            <img src="https://bootstrapmade.com/demo/templates/BizLand/assets/img/team/team-2.jpg"
                                 alt="" class="img-fluid">
                            <div class="social">
                                <a class=""><i class="fa-brands fa-twitter"></i> </a>
                                <a class=""><i class="fa-brands fa-facebook"></i></a>
                                <a class=""><i class="fa-brands fa-instagram"></i> </a>
                                <a class=""><i class="fa-brands fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Sarah Jhonson</h4>
                            <span>Product Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="member-card">
                        <div class="member-img">
                            <img src="https://bootstrapmade.com/demo/templates/BizLand/assets/img/team/team-3.jpg"
                                 alt="" class="img-fluid">
                            <div class="social">
                                <a class=""><i class="fa-brands fa-twitter"></i> </a>
                                <a class=""> <i class="fa-brands fa-facebook"></i></a>
                                <a class=""><i class="fa-brands fa-instagram"></i> </a>
                                <a class=""><i class="fa-brands fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>William Anderson</h4>
                            <span>CTO</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="member-card">
                        <div class="member-img">
                            <img src="https://bootstrapmade.com/demo/templates/BizLand/assets/img/team/team-4.jpg"
                                 alt="" class="img-fluid">
                            <div class="social">
                                <a class=""><i class="fa-brands fa-twitter"></i> </a>
                                <a class=""> <i class="fa-brands fa-facebook"></i></a>
                                <a class=""><i class="fa-brands fa-instagram"></i> </a>
                                <a class=""><i class="fa-brands fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Amanda Jepson</h4>
                            <span>Accountant</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END TEAM SECTION -->


</main>
<!-- MAIN SECTION END -->